Doxyfile
*~
config.h
config.log
config.status
*.Plo
.directory
Makefile
libtool
*.lo
*.o
autom4te.cache
*.kdev4
.libs
*.la
.deps
build/
verlihub_config
*/Makefile
src/make_time.h
dirsettings.h
src/verlihub
