/*
 * hyperlink css
 */
a:hover {
	background: #F9Da48;
}

a:visited {
	color: #000080;
}

a:active {
	color: #ff0000;
}

a:link {
	color: #0000ff;
}


/*
 * This is the default body style for each document.
 */
body {
	background-color: #FEF9E2;
	color: #000000;
}

/*
 * Used for code samples
 */
.code {
	font-size: small;	
	font-family: Courier New, Verdana, Arial, Helvetica;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.0em;
	margin-left: 1.0em;
	color: #000000;
	background-color: #ffffff;
	font-weight: bold;
}

td.settingheading {
	background-color: #FCEFB1;
	font-weight: bold;
}